{% extends 'base.html.twig' %}

{% block title %}Profile | Mot de passe{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Changer le mot de passe</h1>

        {{ form_start(form) }}
            {{ form_row(form) }}

            <button type="submit" class="btn btn-md btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
