<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Network{% endblock %}</title>

        <meta name="author" content="Ousseine">
        <meta name="description" content="network, symfony network, ousseine network">

        <style>
            .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        </style>

        {% block styles %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
